.history{
    border:2px solid black;
    width:60vh;
    margin: 10px auto;
}

.history__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #e0ddca;
}

.history__container>p{
    font-size: 25px;
    font-weight: bolder;
}

/* .history__value{
    border: none;
    outline: none;
    border: 1px solid #e0ddca;
    background-color: #3c3d42;
    padding: 5px 25px;
    color: #e0ddca;
} */

.border-red{
    padding: 5px;
    margin: 10px;
    border: 0.5px solid black;
    border-right: 5px solid red;
}

.border-green{
    padding: 5px;
    margin: 10px;
    border: 0.5px solid black;
    border-right: 5px solid green;
}